In [1]:
## import pandas

import pandas as pd
import numpy as np

In [2]:
# Path menuju file dataset training
file_path = '/tubes2_HeartDisease_train.csv'

# Header kolom
headers = ['age', 'sex', 'CTP', 'RBP','SC', 'FBS','rECG', 'MHR', 'EIA','STDI','PE_ST', 'n_MV','thal', 'diagnosis']

# Membaca dataset training
train_dataset = pd.read_csv(file_path, header=None, engine='python', skiprows=1, na_values='?', names=headers)
train_dataset.head(15)

,age,sex,CTP,RBP,SC,FBS,rECG,MHR,EIA,STDI,PE_ST,n_MV,thal,diagnosis
0,54,1,4,125.0,216.0,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,1
1,55,1,4,158.0,217.0,0.0,0.0,110.0,1.0,2.5,2.0,NaN,NaN,1
2,54,0,3,135.0,304.0,1.0,0.0,170.0,0.0,0.0,1.0,0.0,3.0,0
3,48,0,3,120.0,195.0,0.0,0.0,125.0,0.0,0.0,NaN,NaN,NaN,0
4,50,1,4,120.0,0.0,0.0,1.0,156.0,1.0,0.0,1.0,NaN,6.0,3
5,64,0,4,130.0,303.0,0.0,0.0,122.0,0.0,2.0,2.0,2.0,3.0,0
6,63,1,4,130.0,308.0,0.0,0.0,138.0,1.0,2.0,2.0,NaN,NaN,2
7,58,1,2,130.0,251.0,0.0,0.0,110.0,0.0,0.0,NaN,NaN,NaN,0
8,42,1,2,150.0,268.0,0.0,0.0,136.0,0.0,0.0,NaN,NaN,NaN,0
9,54,1,3,120.0,258.0,0.0,2.0,147.0,0.0,4.0,2.0,0.0,7.0,0
10,58,1,4,115.0,0.0,NaN,0.0,138.0,0.0,0.5,1.0,NaN,NaN,1
11,49,1,3,118.0,149.0,0.0,2.0,126.0,0.0,8.0,1.0,3.0,3.0,1
12,61,1,1,142.0,200.0,1.0,1.0,100.0,0.0,1.5,3.0,NaN,NaN,3
13,55,0,2,132.0,342.0,0.0,0.0,166.0,0.0,12.0,1.0,0.0,3.0,0
14,60,1,4,132.0,218.0,0.0,1.0,140.0,1.0,1.5,3.0,NaN,NaN,2